<div class="header blur">
    <div class="right-margin">
        <div class="from-right">
            <a ng-click="vm.goToCourseSelection()" class="btn btn-primary">Course Selection</a>
            <a ng-click="vm.logout()" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <div class="margins">
        <div style="display: inline-flex;">
            <h1 class="form-title">Create Course</h1>
        </div>
    </div>
</div>
<div class="margins blur">
    <form name="form" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.courseName.$dirty && form.courseName.$error.required }">
          <h4>Course Name:</h4>
          <input type="text" name="courseName" id="courseName" ng-model="vm.course.courseName" class="form-control" required>
        </div>
        <div class="form-group">
          <h4>Course Subject:</h4>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.course.courseSubject" uib-btn-radio="'Math'">Math </label>
            <label class="btn btn-primary" ng-model="vm.course.courseSubject" uib-btn-radio="'Science'">Science </label>
            <label class="btn btn-primary" ng-model="vm.course.courseSubject" uib-btn-radio="'English'">English </label>
            <label class="btn btn-primary" ng-model="vm.course.courseSubject" uib-btn-radio="'History'">History </label>
            <label class="btn btn-primary" ng-model="vm.course.courseSubject" uib-btn-radio="'Elective'">Elective </label>
           </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.courseCode.$dirty && form.courseCode.$error.required }">
          <h4>Course Code:</h4>
          <input type="text" name="courseCode" id="courseCode" ng-model="vm.course.courseCode" class="form-control" required>
        </div>
    </form>
    <div class="text-center">
        <a ng-click="vm.createCourse()" class="btn btn-primary" ng-disabled="!vm.course.courseName || !vm.course.courseSubject || !vm.course.courseCode">Add Course</a>
        <a ng-click="vm.createRandomCourses()" class="btn btn-warning">Add 10  Random Courses</a>
    </div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error', 'hiddenError': !flash }" ng-show="true" ng-bind="flash.message">Error</div>
</div>
